*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    justify-content: center;
    display: flex;
}

.header_main{
    margin: 20px 200px;
}

.header_a{
    margin: 20px;
    color: black;
    text-decoration: none;
}

.header_a:hover{

}

.header_login{
    margin: 20px 100px;
}

#header_img{
    margin: 10px 100px;
}

